* {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}
body {
  background-color: black;
}

@media screen and( max-width:400px ) {
  body {
    width: 100%;
  }

  .heading ul {
    flex-direction: column;
  }


  .heading h1 {
    font: 10px;
  }
}
