:root {
  --primary-color: black;
  --secondary-color: white;
}

section {
  display: flex;
  min-height: 70vh;
}
.split {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}
.left {
  background-color: rgb(236, 236, 231);
  color: var(--primary-color);
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right {
  background-color: rgb(247, 153, 116);
  color: var(--primary-color);
  width: 50%;
  display: flex;
  flex-direction: column;
}
