footer {
  min-height: 70px;
  margin-bottom: 0px;
  padding: 30px 15%;
  display: flex;
  text-align: center;
}

footer .links {
  display: flex;
  flex-direction: column;
}

footer .links a {
display: block;
text-decoration: none;
color: var(--secondary-color);
margin-top: 10px;
}

